@page
@model IndexModel
@{
    ViewData["Title"] = "Scriban Online Demo";
}
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">@ViewData["Title"]</span>
</nav>

<div class="container" id="root">

<p>This is a simple online demonstration of <a href="https://github.com/lunet-io/scriban">Scriban</a>, a fast, powerful, safe and lightweight text templating language and engine for .NET.</p>
    <form>
        <div class="form-row">
            
            <div class="col">
                <div class="form-group">
                    <label for="model">The Model (valid json)</label>
                    <textarea class="form-control" id="model" rows="6" v-model="model" :disabled="loading == true"></textarea>
                </div>
            </div>
        </div>
        
        <div class="form-row">
            
            <div class="col">
                <div class="form-group">
                    <label for="template">Scriban Template (<a href="https://github.com/lunet-io/scriban/tree/master/doc">Template docs</a>)</label>
                    <textarea class="form-control" id="template" rows="10" v-model="template" :disabled="loading == true"></textarea>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="output">Output</label>
                    <textarea class="form-control" id="output" rows="10" v-model="output" :disabled="loading == true"></textarea>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <button class="btn btn-primary" @@click.prevent="generate" :disabled="loading">Generate</button> <i v-if="loading" class="fas fa-cog fa-spin"></i>
            </div>
        </div>
        
        <div class="form-row">
            <div class="col">
                    <div class="form-text">Built with Scriban version @Model.Version</div>
            </div>
        </div>
    </form>

</div>